var ToolUtils = {
  changereport:function(val){
    if(val=="now"){
      return '日报'
    }else if(val=="week"){
      return '周报'
    }else{
      return '月报'
    }
  },

  getjsonvaluearray:function(json){
    var rearray = [];
    for (var i=0;i<json.length;i++) {
      rearray.push(json[i]['testgroup']);
    }
    return rearray
  },

  jsontostr:function(val){
    return JSON.stringify(val)
  },

  spstr: function (val) {
    return val.split(" ");
  },

  deletelastword: function(val) {
    return val.slice(0, -1);
  },

  savetwonumber: function(val1, val2) {
    var v = val1 / val2
    return v.toFixed(2)
  },

  comparedate: function(date1, date2) {
    date1 = date1.replace(getRegExp('(\d+)年(\d+)月(\d+)日'),'$1/$2/$3')
    var bijiao = getDate(date2) - getDate(date1); 
    console.log(bijiao)
    return bijiao > 0 ? true : false;
  }
}

module.exports = {
  changereport: ToolUtils.changereport,
  getjsonvaluearray: ToolUtils.getjsonvaluearray,
  jsontostr: ToolUtils.jsontostr,
  spstr: ToolUtils.spstr,
  deletelastword: ToolUtils.deletelastword,
  savetwonumber: ToolUtils.savetwonumber,
  comparedate: ToolUtils.comparedate
}